<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        *, :focus {
            outline: none;
        }
        /*-------- part of the chat --------*/
        body {
            font: 13px Helvetica, Arial;
            
            box-sizing: border-box; 
        }
        .mainchat{
            color: white;
            width: 25%;
            position: absolute;
            border: 1px solid;
            background-color: #3e4651;
            
            text-align: left;
            height: 700px;
            right: 0;
            
        }
        @media (max-width: 750px) {
            .mainchat {
                visibility: hidden;
            }
        }
        
        
        form input {
            
            border: 0;
            padding-top: 10px;
            padding-bottom: 10px;
            width: 99%;
            background-color: #363d47;
            
        }
        
        #messages {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: auto;
            
        }
        #messages div {
            padding: 3px 10px;
            width: auto;
            
        }
        #messages div:nth-child(odd) {
            width: auto;
            
        }
        .messageTable{
            max-height: 93%;
            box-sizing: border-box;
            overflow: auto;
        }
        .write{
            
            position: fixed;
            box-sizing: border-box;
            top: 93.39999%;
            margin-bottom: 0px;
            border: 0;
            padding-top: 10px;
            width: 25%;
        }
      
        /*-------- the end of part of the chat --------*/
        
        ul.cell {
            overflow: hidden;
            margin: 0;
            padding: 0;
        }
        
        ul.cell > li {
            width: 50px; 
            height: 50px;
            display: block;
            border: 5px solid;
            border-color:black;
            float: left;
            background: center center no-repeat;
            background-color: white;
        }

        ul.cell > li.first-p {
            
            background-color: #660066 ;
            opacity:0.4;
        }
        ul.cell > li.first_z-p {
            background-color: #660066;
            
        }
        ul.cell > li.second-p {
            background-image: url('img/X-1.svg'); 
        }
        ul.cell > li.second_z-p {
            background-image: url('img/X-1-z.png');
        }

        ul.cell > li.first-r {
            background-color: #ff0000;
            opacity:0.4;
            
        }
        ul.cell > li.first_z-r {
            background-color: #ff0000;
            
        }
        ul.cell > li.second-r {
            background-image: url('img/X-2.svg'); 
        }
        ul.cell > li.second_z-r {
            background-image: url('img/X-2-z.png');
        }

        ul.cell > li.first-y {
            background-image: url('img/X-3.svg');
        }
        ul.cell > li.first_z-y {
            background-image: url('img/X-3-z.png');
        }
        ul.cell > li.second-y {
            background-image: url('img/X-3.svg'); 
        }
        ul.cell > li.second_z-y {
            background-image: url('img/X-3-z.png');
        }

        ul.cell > li.first-g {
            background-image: url('img/X-4.svg');
        }
        ul.cell > li.first_z-g {
            background-image: url('img/X-4-z.png');
        }
        ul.cell > li.second-g {
            background-image: url('img/X-4.svg'); 
        }
        ul.cell > li.second_z-g {
            background-image: url('img/X-4-z.png');
        }

        ul.cell > li.available {
            border-color:#009900;
            opacity:0.5;
        }
        ul.cell > li.wall {
            background-color: black;
        }
        #field{
            margin-left: 10px;
            width: 50%; 
            text-align: left;
            visibility: visible;
            min-width:550px;
            max-width:550px;
        }
        .game{
            
        }
        #player{
            color: black;
        }
        .btn btn-primary{
            
        }

        #colorChooser1{
            visibility: hidden;
        }
        #colorChooser2{
            visibility: hidden;
        }
        #chooseMap{
            margin: 0 auto; 
            width: 1000px;
            height: 250px;
            position: relative;
            background-color: darkgray;
        }
        .map1{
            width: 200px;
            height: 200px;
            margin-left: 8px;
            margin-right: 8px;
            margin-top: 10px;
            position: absolute;
            background-color:darkkhaki;
        }
        .map2{
            width: 200px;
            height: 200px;
            margin-left: 8px;
            margin-right: 8px;
            margin-top: 10px;
            position: absolute;
            background-color:darkkhaki;
        }
        .map3{
            width: 200px;
            height: 200px;
            margin-left: 8px;
            margin-right: 8px;
            margin-top: 10px;
            position: absolute;
            background-color:darkkhaki;
        }
        .map4{
            width: 200px;
            height: 200px;
            margin-left: 8px;
            margin-right: 8px;
            margin-top: 10px;
            position: absolute;
            background-color:darkkhaki;
        }
        .map5{
            width: 200px;
            height: 200px;
            margin-left: 8px;
            margin-right: 8px;
            margin-top: 10px;
            position: absolute;
            background-color:darkkhaki;
        }
        .container{
            margin:0px auto ;
            text-align:center;
            width: 550px;
        }
        button{
            outline:0!important;
        }
        .btn-default{
            color: white!important;
        }
        .btn btn-info btn-lg{
            background-color: #3e4651!important;
        }
        #bottom {
            border: 1px solid red;
        }
    </style>
</head>
<body>
    <div class="mainchat">
        <div class="messageTable">
            <ul id="messages"><div>Connected to the server...</div></ul>
            <div id="bottom"></div>
        </div>
        <div class="write">
            <form action="">
                <input placeholder="Type here to chat..." id="m" autocomplete="off" />
            </form>
        </div>
    </div>    
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    
    
    
    
    
     <div id="field">  
         <div class="container">
            <!-- Trigger the modal with a button  -->
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"  >Open Rules</button>

            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Rules</h4>
                        </div>
                        <div class="modal-body">
                            <p>
                                Virus – це гра для 2 та більше людей, де ви зможете показати свої вміння логічно мислити та прораховувати ходи.Гра представляє собою(можна сказати шахматну дошку або морський бій), але із зовсім іншим наповненням атмосфери. Кожен гравець обирає собі позицію і по черзі гравці ставлять по 3 хрестики свого кольору в будь-якому не зайнятому місці мапи. Коли всі гравці зробили 1 крок – починається сама гра. На кожен крок кожний гравець має поставити 3 хрестики(Ставити хрестик можна від будь-якого свого вже існуючого).Ціль гри – знищити усі хрестики твого суперника. Якщо ти під час свого ходу свій хрестик ставиш на хрестик суперника, то ця позиція стає назавжди твоєю(тобто це є немов би то башта[суперник втрачає цю клітинку])(з неї можна ходити, якщо з нею є зв'язок, тобто біля башти знаходиться твій хрестик,цю позицію не можна знищити або перехопити), як тільки зв'язок між баштами та хрестиками знищується можливість ходити з цих позицій зникає.
                                Хай щастить!
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
         </div>
         <h3>
            Round: <span id="turn">1</span>, Steps left: <span id="steps_remains">3</span>
            <br />
            Player: <span id="player">First</span>
         </h3>
         <div class="game">
            <ul class="cell"></ul>
         </div>
    </div>
    <!--  -->
    <script>
       
        
    </script>
    <!--  -->
    
    <!-- Start of the function for chat -->
    <script>
        
        $(function () {
            
           /* function randomInteger(min, max) {
            
                var rand = min - 0.5 + Math.random() * (max - min + 1)
                    rand = Math.round(rand);
                return rand;
                
            }
            var name = randomInteger(1,1000);*/
            var socket = io();
            $('form').submit(function(){
                socket.emit('chat message', $('#m').val());
                $('#m').val('');
                return false;
            });
            socket.on('chat message', function(msg){
                $('#messages').append($('<div>').text('Player'+ '' +': ' + msg));
    
                      window.scrollTo(0, document.body.scrollHeight);
                  
            });
        });
    </script>
    <!-- End of the function for chat -->
    
    
    
    <!-- Start of the function of th game -->
    <script>
         $(function(){
            var cells = [];

            var CELL_AVAILABLE_CLASS = 'available';
            var CELL_WALL_CLASS = 'wall';

            var whichMap = Math.floor((Math.random() * 5) +1);
            var colorFirst = 0;
            var colorSecond = 0;
            var a;
            var az;
            var b;
            var bz;
                a = 'first-p',
                az = 'first_z-p'

                b = 'first-r',
                bz = 'first_z-r'

            var CellStatus = {

                EMPTY : 'empty',
                FIRST : a,
                FIRST_Z : az,
                SECOND : b,
                SECOND_Z : bz
            };
            var imgPaths = {
                purple: "img/X-1.svg",
                purple_z:"img/X-1-z.png",
                red: "img/X-2.svg",
                red_z: "img/X-2-z.png",
                yellow:"img/X-3.svg",
                yellow_z:"img/X-3-z.png",
                green:"img/X-4.svg",
                green_z:"img/X-4-z.png"
            }
            var Cell = function(){
                this.available = 0;
                this.status = CellStatus.EMPTY;
                this.element = null;
            };
            var Game = function(){

                this.turn = 1;
                this.step = 1;
                this.stepHelp = 0;
                this.player = 'first';
                this.cellsChecked = [];
            };


            Cell.prototype.setAvailable = function(){
                this.available = 1;
                this.element.addClass(CELL_AVAILABLE_CLASS);
            };

            Cell.prototype.setNotAvailable = function(){
                this.available = 0;
                this.element.removeClass(CELL_AVAILABLE_CLASS);
            };
            Cell.prototype.setWall = function(){
                this.available = 0;
                this.element.addClass(CELL_WALL_CLASS);

            };

            Cell.prototype.setStatus = function(status){
                this.status = status;
                for(var p in CellStatus){
                    this.element.removeClass(CellStatus[p]);
                }
                this.element.addClass(status);
            };


            Game.prototype.init = function(){

                fillField(11);
                this.calcAvailability();
            };
            Game.prototype.firstStep = function(){
                this.cellsChecked = [];
                this.stepHelp++;
                $('#steps_remains').html(1-this.stepHelp+1);
                if(this.stepHelp > 1){
                    this.nextTurn();
                }
                this.calcAvailability();
            };
            Game.prototype.nextStep = function(){
                this.cellsChecked = [];
                this.step++;
                $('#steps_remains').html(3-this.step+1);
                if(this.step > 3){
                    this.nextTurn();
                }
                this.calcAvailability();
            };

            Game.prototype.nextTurn = function(){
                if(this.player == 'second'){
                    this.turn++;
                    $('#turn').html(this.turn);
                }
                this.step = 1;
                $('#steps_remains').html(3);
                if(this.player === 'first'){
                    this.player = 'second';
                    $('#player').html('Second');
                    //$('#player').css({color:'red'});
                }else{
                    this.player = 'first';
                    $('#player').html('First');
                    //$('#player').css({color:'black'});
                }
            };

            Game.prototype.actionBorn = function(cell){
                if(this.player == 'first'){
                    cell.setStatus(CellStatus.FIRST);
                }else{
                    cell.setStatus(CellStatus.SECOND);
                }
            };

            Game.prototype.actionAbsorb = function(cell){
                if(this.player == 'first'){
                    cell.setStatus(CellStatus.FIRST_Z);
                }else{
                    cell.setStatus(CellStatus.SECOND_Z);
                }
            };

            Game.prototype.checkAvailability = function(x,y){
                /////////////

                var maps = {
                "firstMap" : function(){
                    cells[2][cells[y].length-9].setNotAvailable();
                    cells[2][cells[y].length-9].setWall();

                    cells[2][cells[y].length-8].setNotAvailable();
                    cells[2][cells[y].length-8].setWall();

                    cells[2][cells[y].length-7].setNotAvailable();
                    cells[2][cells[y].length-7].setWall();

                    cells[2][cells[y].length-4].setNotAvailable();
                    cells[2][cells[y].length-4].setWall();

                    cells[3][cells[y].length-8].setNotAvailable();
                    cells[3][cells[y].length-8].setWall();

                    cells[5][cells[y].length-3].setNotAvailable();
                    cells[5][cells[y].length-3].setWall();

                    cells[6][cells[y].length-4].setNotAvailable();
                    cells[6][cells[y].length-4].setWall();

                    cells[6][cells[y].length-3].setNotAvailable();
                    cells[6][cells[y].length-3].setWall();

                    cells[6][cells[y].length-2].setNotAvailable();
                    cells[6][cells[y].length-2].setWall();

                    cells[6][cells[y].length-9].setNotAvailable();
                    cells[6][cells[y].length-9].setWall();

                    cells[7][cells[y].length-2].setNotAvailable();
                    cells[7][cells[y].length-2].setWall();

                    cells[7][cells[y].length-7].setNotAvailable();
                    cells[7][cells[y].length-7].setWall();                    

                    cells[8][cells[y].length-7].setNotAvailable();
                    cells[8][cells[y].length-7].setWall();

                    cells[8][cells[y].length-6].setNotAvailable();
                    cells[8][cells[y].length-6].setWall(); 
                }
                , "secondMap" : function(){
                    cells[2][cells[y].length-7].setNotAvailable();
                    cells[2][cells[y].length-7].setWall();

                    cells[2][cells[y].length-3].setNotAvailable();
                    cells[2][cells[y].length-3].setWall();

                    cells[3][cells[y].length-3].setNotAvailable();
                    cells[3][cells[y].length-3].setWall();

                    cells[3][cells[y].length-4].setNotAvailable();
                    cells[3][cells[y].length-4].setWall();

                    cells[4][cells[y].length-9].setNotAvailable();
                    cells[4][cells[y].length-9].setWall();

                    cells[6][cells[y].length-2].setNotAvailable();
                    cells[6][cells[y].length-2].setWall();

                    cells[7][cells[y].length-2].setNotAvailable();
                    cells[7][cells[y].length-2].setWall();

                    cells[7][cells[y].length-2].setNotAvailable();
                    cells[7][cells[y].length-2].setWall();

                    cells[7][cells[y].length-5].setNotAvailable();
                    cells[7][cells[y].length-5].setWall();

                    cells[7][cells[y].length-6].setNotAvailable();
                    cells[7][cells[y].length-6].setWall();

                    cells[7][cells[y].length-9].setNotAvailable();
                    cells[7][cells[y].length-9].setWall();

                    cells[8][cells[y].length-9].setNotAvailable();
                    cells[8][cells[y].length-9].setWall();                    

                    cells[8][cells[y].length-5].setNotAvailable();
                    cells[8][cells[y].length-5].setWall();
                }
                ,"thirdMap" : function(){
                    cells[1][cells[y].length-9].setNotAvailable();
                    cells[1][cells[y].length-9].setWall();

                    cells[1][cells[y].length-5].setNotAvailable();
                    cells[1][cells[y].length-5].setWall();

                    cells[1][cells[y].length-9].setNotAvailable();
                    cells[1][cells[y].length-9].setWall();

                    cells[2][cells[y].length-10].setNotAvailable();
                    cells[2][cells[y].length-10].setWall();

                    cells[2][cells[y].length-9].setNotAvailable();
                    cells[2][cells[y].length-9].setWall();

                    cells[2][cells[y].length-3].setNotAvailable();
                    cells[2][cells[y].length-3].setWall();

                    cells[4][cells[y].length-4].setNotAvailable();
                    cells[4][cells[y].length-4].setWall();

                    cells[5][cells[y].length-4].setNotAvailable();
                    cells[5][cells[y].length-4].setWall();

                    cells[5][cells[y].length-3].setNotAvailable();
                    cells[5][cells[y].length-3].setWall();

                    cells[5][cells[y].length-5].setNotAvailable();
                    cells[5][cells[y].length-5].setWall();

                    cells[6][cells[y].length-9].setNotAvailable();
                    cells[6][cells[y].length-9].setWall();

                    cells[6][cells[y].length-4].setNotAvailable();
                    cells[6][cells[y].length-4].setWall();                    

                    cells[8][cells[y].length-2].setNotAvailable();
                    cells[8][cells[y].length-2].setWall();  

                    cells[8][cells[y].length-9].setNotAvailable();
                    cells[8][cells[y].length-9].setWall(); 

                    cells[7][cells[y].length-9].setNotAvailable();
                    cells[7][cells[y].length-9].setWall(); 

                    cells[7][cells[y].length-8].setNotAvailable();
                    cells[7][cells[y].length-8].setWall(); 
                }
                ,"fourthMap":function(){
                    cells[2][cells[y].length-8].setNotAvailable();
                    cells[2][cells[y].length-8].setWall();

                    cells[3][cells[y].length-3].setNotAvailable();
                    cells[3][cells[y].length-3].setWall();

                    cells[3][cells[y].length-4].setNotAvailable();
                    cells[3][cells[y].length-4].setWall();

                    cells[3][cells[y].length-5].setNotAvailable();
                    cells[3][cells[y].length-5].setWall();

                    cells[4][cells[y].length-4].setNotAvailable();
                    cells[4][cells[y].length-4].setWall();

                    cells[4][cells[y].length-5].setNotAvailable();
                    cells[4][cells[y].length-5].setWall();

                    cells[6][cells[y].length-2].setNotAvailable();
                    cells[6][cells[y].length-2].setWall();

                    cells[6][cells[y].length-10].setNotAvailable();
                    cells[6][cells[y].length-10].setWall();

                    cells[7][cells[y].length-6].setNotAvailable();
                    cells[7][cells[y].length-6].setWall();

                    cells[7][cells[y].length-9].setNotAvailable();
                    cells[7][cells[y].length-9].setWall();

                    cells[7][cells[y].length-10].setNotAvailable();
                    cells[7][cells[y].length-10].setWall();                    

                    cells[8][cells[y].length-2].setNotAvailable();
                    cells[8][cells[y].length-2].setWall();  

                    cells[8][cells[y].length-9].setNotAvailable();
                    cells[8][cells[y].length-9].setWall(); 

                    cells[7][cells[y].length-9].setNotAvailable();
                    cells[7][cells[y].length-9].setWall(); 

                    cells[7][cells[y].length-8].setNotAvailable();
                    cells[7][cells[y].length-8].setWall(); 
                                }
                ,"fifthMap":function(){
                    cells[1][cells[y].length-8].setNotAvailable();
                    cells[1][cells[y].length-8].setWall();

                    cells[1][cells[y].length-10].setNotAvailable();
                    cells[1][cells[y].length-10].setWall();

                    cells[1][cells[y].length-4].setNotAvailable();
                    cells[1][cells[y].length-4].setWall();

                    cells[2][cells[y].length-6].setNotAvailable();
                    cells[2][cells[y].length-6].setWall();

                    cells[3][cells[y].length-3].setNotAvailable();
                    cells[3][cells[y].length-3].setWall();

                    cells[4][cells[y].length-8].setNotAvailable();
                    cells[4][cells[y].length-8].setWall();

                    cells[5][cells[y].length-2].setNotAvailable();
                    cells[5][cells[y].length-2].setWall();

                    cells[5][cells[y].length-5].setNotAvailable();
                    cells[5][cells[y].length-5].setWall();

                    cells[5][cells[y].length-10].setNotAvailable();
                    cells[5][cells[y].length-10].setWall();

                    cells[7][cells[y].length-4].setNotAvailable();
                    cells[7][cells[y].length-4].setWall();

                    cells[7][cells[y].length-7].setNotAvailable();
                    cells[7][cells[y].length-7].setWall();                    

                    cells[9][cells[y].length-2].setNotAvailable();
                    cells[9][cells[y].length-2].setWall();  

                    cells[8][cells[y].length-9].setNotAvailable();
                    cells[8][cells[y].length-9].setWall(); 

                    cells[9][cells[y].length-6].setNotAvailable();
                    cells[9][cells[y].length-6].setWall(); 

                }
            }

                ///////////////

                function checkZombie(){
                    if(typeof that.cellsChecked[neighbours[k].x] === 'undefined' || that.cellsChecked[neighbours[k].x][neighbours[k].y] !== 1){
                        if(typeof that.cellsChecked[neighbours[k].x] === 'undefined') that.cellsChecked[neighbours[k].x] = [];
                        that.cellsChecked[neighbours[k].x][neighbours[k].y] = 1;
                        available_cnt += that.checkAvailability(neighbours[k].x,neighbours[k].y);
                    }
                }
                var neighbours = [
                    //те строки что закоментированы - откоментировать, чтобы добавить возможность ходит по диагонали!
                    {x: x, y: y-1},
                    {x: x, y: y+1},
                    //{x: x-1, y: y-1},
                    {x: x-1, y: y},
                    //{x: x-1, y: y+1},
                    //{x: x+1, y: y-1},
                    {x: x+1, y: y},
                    //{x: x+1, y: y+1}
                ];
                var available_cnt = 0;
                var k = 0;
                var that = this;
                if(this.player == 'first'){
                    for(k=0;k<neighbours.length;k++){
                        if(
                            typeof cells[neighbours[k].x] !== 'undefined'
                                && typeof cells[neighbours[k].x][neighbours[k].y] !== 'undefined'
                                && cells[neighbours[k].x][neighbours[k].y].status !== CellStatus.FIRST
                                && cells[neighbours[k].x][neighbours[k].y].status !== CellStatus.SECOND_Z
                            )
                        {
                            if(cells[neighbours[k].x][neighbours[k].y].status === CellStatus.FIRST_Z){
                                checkZombie();
                            }else{
                                cells[neighbours[k].x][neighbours[k].y].setAvailable();

                                if(whichMap==1){
                                    maps.firstMap();
                                }
                             //   if(whichMap==2){
                              //      maps.secondMap();
                             //   }
                                if(whichMap==3){
                                    maps.thirdMap();
                                }
                                if(whichMap==4){
                                    maps.fourthMap();
                                }
                                if(whichMap==5){
                                    maps.fifthMap();
                                }
                                available_cnt++;
                            }
                        }
                    }
                }else{
                    for(k=0;k<neighbours.length;k++){
                        if(
                            typeof cells[neighbours[k].x] !== 'undefined'
                                && typeof cells[neighbours[k].x][neighbours[k].y] !== 'undefined'
                                && cells[neighbours[k].x][neighbours[k].y].status !== CellStatus.SECOND
                                && cells[neighbours[k].x][neighbours[k].y].status !== CellStatus.FIRST_Z
                            )
                        {
                            if(cells[neighbours[k].x][neighbours[k].y].status === CellStatus.SECOND_Z){
                                checkZombie();
                            }else{
                                cells[neighbours[k].x][neighbours[k].y].setAvailable();
                                //////// добавлять карты сюда!!
                                if(whichMap==1){
                                    maps.firstMap();
                                }
                               // if(whichMap==2){
                               //     maps.secondMap();
                               // }
                                if(whichMap==3){
                                    maps.thirdMap();
                                }
                                if(whichMap==4){
                                    maps.fourthMap();
                                }
                                if(whichMap==5){
                                    maps.fifthMap();
                                }
                                available_cnt++;
                            }
                        }
                    }
                }
                return available_cnt;
            };

            Game.prototype.calcAvailability = function(){
                for(var x = 0;x < cells.length; x++){
                    for(var y = 0;y < cells[x].length; y++){
                        cells[x][y].setNotAvailable();

                    }
                }
                ////////////
               var maps = {
                "firstMap" : function(){
                    cells[2][cells[y].length-9].setNotAvailable();
                    cells[2][cells[y].length-9].setWall();

                    cells[2][cells[y].length-8].setNotAvailable();
                    cells[2][cells[y].length-8].setWall();

                    cells[2][cells[y].length-7].setNotAvailable();
                    cells[2][cells[y].length-7].setWall();

                    cells[2][cells[y].length-4].setNotAvailable();
                    cells[2][cells[y].length-4].setWall();

                    cells[3][cells[y].length-8].setNotAvailable();
                    cells[3][cells[y].length-8].setWall();

                    cells[5][cells[y].length-3].setNotAvailable();
                    cells[5][cells[y].length-3].setWall();

                    cells[6][cells[y].length-4].setNotAvailable();
                    cells[6][cells[y].length-4].setWall();

                    cells[6][cells[y].length-3].setNotAvailable();
                    cells[6][cells[y].length-3].setWall();

                    cells[6][cells[y].length-2].setNotAvailable();
                    cells[6][cells[y].length-2].setWall();

                    cells[6][cells[y].length-9].setNotAvailable();
                    cells[6][cells[y].length-9].setWall();

                    cells[7][cells[y].length-2].setNotAvailable();
                    cells[7][cells[y].length-2].setWall();

                    cells[7][cells[y].length-7].setNotAvailable();
                    cells[7][cells[y].length-7].setWall();                    

                    cells[8][cells[y].length-7].setNotAvailable();
                    cells[8][cells[y].length-7].setWall();

                    cells[8][cells[y].length-6].setNotAvailable();
                    cells[8][cells[y].length-6].setWall(); 
                }
                , "secondMap" : function(){
                    cells[2][cells[y].length-7].setNotAvailable();
                    cells[2][cells[y].length-7].setWall();

                    cells[2][cells[y].length-3].setNotAvailable();
                    cells[2][cells[y].length-3].setWall();

                    cells[3][cells[y].length-3].setNotAvailable();
                    cells[3][cells[y].length-3].setWall();

                    cells[3][cells[y].length-4].setNotAvailable();
                    cells[3][cells[y].length-4].setWall();

                    cells[4][cells[y].length-9].setNotAvailable();
                    cells[4][cells[y].length-9].setWall();

                    cells[6][cells[y].length-2].setNotAvailable();
                    cells[6][cells[y].length-2].setWall();

                    cells[7][cells[y].length-2].setNotAvailable();
                    cells[7][cells[y].length-2].setWall();

                    cells[7][cells[y].length-2].setNotAvailable();
                    cells[7][cells[y].length-2].setWall();

                    cells[7][cells[y].length-5].setNotAvailable();
                    cells[7][cells[y].length-5].setWall();

                    cells[7][cells[y].length-6].setNotAvailable();
                    cells[7][cells[y].length-6].setWall();

                    cells[7][cells[y].length-9].setNotAvailable();
                    cells[7][cells[y].length-9].setWall();

                    cells[8][cells[y].length-9].setNotAvailable();
                    cells[8][cells[y].length-9].setWall();                    

                    cells[8][cells[y].length-5].setNotAvailable();
                    cells[8][cells[y].length-5].setWall();
                }
                ,"thirdMap" : function(){
                    cells[1][cells[y].length-9].setNotAvailable();
                    cells[1][cells[y].length-9].setWall();

                    cells[1][cells[y].length-5].setNotAvailable();
                    cells[1][cells[y].length-5].setWall();

                    cells[1][cells[y].length-9].setNotAvailable();
                    cells[1][cells[y].length-9].setWall();

                    cells[2][cells[y].length-10].setNotAvailable();
                    cells[2][cells[y].length-10].setWall();

                    cells[2][cells[y].length-9].setNotAvailable();
                    cells[2][cells[y].length-9].setWall();

                    cells[2][cells[y].length-3].setNotAvailable();
                    cells[2][cells[y].length-3].setWall();

                    cells[4][cells[y].length-4].setNotAvailable();
                    cells[4][cells[y].length-4].setWall();

                    cells[5][cells[y].length-4].setNotAvailable();
                    cells[5][cells[y].length-4].setWall();

                    cells[5][cells[y].length-3].setNotAvailable();
                    cells[5][cells[y].length-3].setWall();

                    cells[5][cells[y].length-5].setNotAvailable();
                    cells[5][cells[y].length-5].setWall();

                    cells[6][cells[y].length-9].setNotAvailable();
                    cells[6][cells[y].length-9].setWall();

                    cells[6][cells[y].length-4].setNotAvailable();
                    cells[6][cells[y].length-4].setWall();                    

                    cells[8][cells[y].length-2].setNotAvailable();
                    cells[8][cells[y].length-2].setWall();  

                    cells[8][cells[y].length-9].setNotAvailable();
                    cells[8][cells[y].length-9].setWall(); 

                    cells[7][cells[y].length-9].setNotAvailable();
                    cells[7][cells[y].length-9].setWall(); 

                    cells[7][cells[y].length-8].setNotAvailable();
                    cells[7][cells[y].length-8].setWall(); 
                }
                ,"fourthMap":function(){
                    cells[2][cells[y].length-8].setNotAvailable();
                    cells[2][cells[y].length-8].setWall();

                    cells[3][cells[y].length-3].setNotAvailable();
                    cells[3][cells[y].length-3].setWall();

                    cells[3][cells[y].length-4].setNotAvailable();
                    cells[3][cells[y].length-4].setWall();

                    cells[3][cells[y].length-5].setNotAvailable();
                    cells[3][cells[y].length-5].setWall();

                    cells[4][cells[y].length-4].setNotAvailable();
                    cells[4][cells[y].length-4].setWall();

                    cells[4][cells[y].length-5].setNotAvailable();
                    cells[4][cells[y].length-5].setWall();

                    cells[6][cells[y].length-2].setNotAvailable();
                    cells[6][cells[y].length-2].setWall();

                    cells[6][cells[y].length-10].setNotAvailable();
                    cells[6][cells[y].length-10].setWall();

                    cells[7][cells[y].length-6].setNotAvailable();
                    cells[7][cells[y].length-6].setWall();

                    cells[7][cells[y].length-9].setNotAvailable();
                    cells[7][cells[y].length-9].setWall();

                    cells[7][cells[y].length-10].setNotAvailable();
                    cells[7][cells[y].length-10].setWall();                    

                    cells[8][cells[y].length-2].setNotAvailable();
                    cells[8][cells[y].length-2].setWall();  

                    cells[8][cells[y].length-9].setNotAvailable();
                    cells[8][cells[y].length-9].setWall(); 

                    cells[7][cells[y].length-9].setNotAvailable();
                    cells[7][cells[y].length-9].setWall(); 

                    cells[7][cells[y].length-8].setNotAvailable();
                    cells[7][cells[y].length-8].setWall(); 
                                }
                ,"fifthMap":function(){
                    cells[1][cells[y].length-8].setNotAvailable();
                    cells[1][cells[y].length-8].setWall();

                    cells[1][cells[y].length-10].setNotAvailable();
                    cells[1][cells[y].length-10].setWall();

                    cells[1][cells[y].length-4].setNotAvailable();
                    cells[1][cells[y].length-4].setWall();

                    cells[2][cells[y].length-6].setNotAvailable();
                    cells[2][cells[y].length-6].setWall();

                    cells[3][cells[y].length-3].setNotAvailable();
                    cells[3][cells[y].length-3].setWall();

                    cells[4][cells[y].length-8].setNotAvailable();
                    cells[4][cells[y].length-8].setWall();

                    cells[5][cells[y].length-2].setNotAvailable();
                    cells[5][cells[y].length-2].setWall();

                    cells[5][cells[y].length-5].setNotAvailable();
                    cells[5][cells[y].length-5].setWall();

                    cells[5][cells[y].length-10].setNotAvailable();
                    cells[5][cells[y].length-10].setWall();

                    cells[7][cells[y].length-4].setNotAvailable();
                    cells[7][cells[y].length-4].setWall();

                    cells[7][cells[y].length-7].setNotAvailable();
                    cells[7][cells[y].length-7].setWall();                    

                    cells[9][cells[y].length-2].setNotAvailable();
                    cells[9][cells[y].length-2].setWall();  

                    cells[8][cells[y].length-9].setNotAvailable();
                    cells[8][cells[y].length-9].setWall(); 

                    cells[9][cells[y].length-6].setNotAvailable();
                    cells[9][cells[y].length-6].setWall(); 

                }
            }

                ////////////
                if(this.turn == 1 && this.step == 1 && this.stepHelp == 0){
                    for(y=0;y<cells.length;y++){
                        if(this.player == 'first'){

                            cells[0][y].setAvailable();
                            cells[1][y].setAvailable();
                            cells[2][y].setAvailable();
                            cells[3][y].setAvailable();
                            cells[4][y].setAvailable();
                            //cells[5][y].setAvailable();
                            //cells[6][y].setAvailable();
                            //cells[7][y].setAvailable();
                            //cells[8][y].setAvailable();
                            //cells[9][y].setAvailable();
                            //cells[10][y].setAvailable();

                            if(whichMap == 1){
                                maps.firstMap();
                            }


                           // if(whichMap == 2){
                            //    maps.firstMap();
                           // }
                            if(whichMap==3){
                                maps.thirdMap();
                            }
                            if(whichMap==4){
                                maps.fourthMap();
                            }
                            if(whichMap==5){
                                maps.fifthMap();
                            }
                        }else if(this.player == 'second'){


                            //cells[0][y].setAvailable();
                            //cells[1][y].setAvailable();
                            //cells[2][y].setAvailable();
                            //cells[3][y].setAvailable();
                            //cells[4][y].setAvailable();
                            //cells[5][y].setAvailable();
                            cells[6][y].setAvailable();
                            cells[7][y].setAvailable();
                            cells[8][y].setAvailable();
                            cells[9][y].setAvailable();
                            cells[10][y].setAvailable();
                            if(whichMap==1){
                                maps.firstMap();
                            }
                           // if(whichMap==2){
                           //     maps.secondMap();
                           // }
                            if(whichMap==3){
                                maps.thirdMap();
                            }
                            if(whichMap==4){
                                maps.fourthMap();
                            }
                            if(whichMap==5){
                                maps.fifthMap();
                            }
                        }
                    }
                }else{
                    var available_cnt = 0;
                    for(x = 0;x < cells.length; x++){
                        for(y = 0;y < cells[x].length; y++){
                            if(this.player == 'first'){
                                if(cells[x][y].status == CellStatus.FIRST){
                                    if(this.checkAvailability(x,y)){
                                        available_cnt++;
                                    }
                                }
                            }else if(this.player == 'second'){
                                if(cells[x][y].status == CellStatus.SECOND){
                                    if(this.checkAvailability(x,y)){
                                        available_cnt++;
                                    }
                                }
                            }
                        }
                    }
                    if(available_cnt == 0) this.gameover();
                }
            };

            Game.prototype.gameover = function(){
                alert('Игрок ' + this.player + ' проиграл!');
                window.location.reload();
            };

            Game.prototype.action = function(x,y){
                if(cells[x][y].available){
                    if(cells[x][y].status == CellStatus.EMPTY)
                    {
                        this.actionBorn(cells[x][y]);
                    }else{
                        this.actionAbsorb(cells[x][y]);
                    }
                    this.nextStep();
                }
            };

            function fillField(dimension){
                var $field = $('#field ul.cell');

                for(var i=0; i<dimension; i++)
                {
                    for(var j=0; j<dimension;j++){
                        var el = $('<li data-x="' + j + '" data-y="' + i + '"></li>');
                        $field.append(el);
                        var cell = new Cell();
                        cell.element = el;
                        if(typeof cells[j] === 'undefined') 
                            cells[j] = [];
                        cells[j][i] = cell;
                    }
                }
            }

                var game = new Game();

                game.init();


            $('#field ul.cell > li').click(function(){
                var x = $(this).data('x');
                var y = $(this).data('y');
                game.action(x,y);
            });

        });

        $(document).ready(function(){
            PopUpHide();
        });
        function PopUpShow(){
            $("#popup1").show();
        }
        function PopUpHide(){
            $("#popup1").hide();
        }
    </script>
    
</body>
</html>